.wrapper {

    max-width: 400px;
    margin: 250px auto;


}

.counter {
    border: 3px solid darkturquoise;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
    width: 100%


}


.display {
    margin: 20px auto;
    width: 100%;
    font-size: 90px


}

.buttonContainer {
    border: 3px solid darkturquoise;

    padding: 10px;
    margin: 10px auto;
    width: 90%


}

.errorInput {
    color: red;
}